@import url(recet.css);

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background:  #0C151D;
    color: #FFFFFF;
}

.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-size: 37px;
    text-transform: uppercase;
}

.header{
    padding: 47px 0 46px;
    font-size: 22px;
}

.header-logo{
    float: left;
}

.header-logo, .header-link{
    color: #FFFFFF;
    text-decoration: none;
}

.header-list{
    float: right;
    font-size: 0;
}

.header-item{
    display: inline-block;
    font-size: 22px;
}

.header-item.header-item{
    margin-left: 40px;
    /* через "+" не працює */
}

/* .header-button{
    background-color: #0C151D;
    border: none;
    padding: 0;
    float: right;
    margin-left: 40px;
} */

.hero-title{
    text-align: center;
}

.hiro-title-foto-1{
    border: 6px solid #24A9EB;
    border-radius: 110px;
}
.hero-title-info{
    margin: 0 45px 0;
    text-align: left;
}

.hiro-title-name{
    font-size: 46px;
}

.hiro-title-position{
    font-size: 22px;
}


.hero-title-info, .hiro-title-foto{
    display: inline-block;
    vertical-align: middle;
}

.portfolio{
    padding: 50px 0 70px;
}

.portfolio-title{
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-cards{
    margin: 0 -15px;
}

.portfolio-card{
    height: 226px;
    width: 33.3334%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
}

.portfolio-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.about{
    background-color: #24A9EB;
    color: #0C151D;
    text-align: center;
    padding: 40px 0 40px;
}

.about-title{
    padding: 0 0 30px;
}

.about-description{
    font-size: 22px;
}

.footer{
    text-align: center;
    padding: 50px 0 51px;
    font-size: 22px;
}
